/* Input Bar */
.input-bar{
    width: 50%;
    
   
}
.react-numeric-input{
    width:30%;
    margin-left: 8px;
    margin-right: 8px;
}

.input{
   flex-direction: column;
    
    
}
.calendar{
    
    margin-top: 10px; 
}
.react-date-picker__wrapper {
    border: 1px solid #ced4da;
    padding: 4.5px;
    border-radius: .25rem;
    background-color: #ffff;
    
}

.add-button{
    padding: 0.375rem 2.0rem;
    color: #ffff;
    border-right: 1px solid #4CAF50;
    border-left: 1px solid #4CAF50;
    border-radius: 4px;
    background-color: #4CAF50;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 46%;
    
  }
  .add-button:focus{
    outline: 0;
    padding: 0.4rem 2.3rem;
  }
  .add-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
  }


  @media only screen and (min-width:768px){
  .input-bar{
        width: 30%;
        
      }
      .react-numeric-input{
        width:12%;
        margin-left: 8px;
        margin-right: 8px;
    }
      .calendar{
          margin-top: 0;
      }
 
  }