/* Input Bar */
.input-bar{
    width: 50%;
    
   
}
.react-numeric-input{
    width:20%;
    margin-left: 8px;
    margin-right: 8px;
}


.input{
   display:flex;
   flex-direction: column;
    
    
}
.calendar{
    
    margin-top: 10px; 
}
.react-date-picker__wrapper {
    border: 1px solid #ced4da;
    padding: 4.5px;
    border-radius: .25rem;
    background-color: #ffff;
    
}

  @media only screen and (min-width:768px){
  .input-bar{
        width: 30%;
        
      }
      .react-numeric-input{
        width:8%;
        margin-left: 8px;
        margin-right: 8px;
    }
      .calendar{
          margin-top: 0;
      }
 
  }