
  
   /* Big Buttons */
   .b-left{
       margin-top: 10px;
       
       
   }
   .add-button{
    padding: 0.375rem 2.0rem;
    color: #ffff;
    border-radius: 4px;
    background-color: #4CAF50;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 47%;
    
  }
  .add-button:focus{
    outline: 0;
    padding: 0.4rem 2.3rem;
  }
  .add-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    

  }
   .b-rigth{
       margin-top: 10px;
       
   }
   .del-button{
    padding: 0.375rem 2.0rem;
    color: #ffff;
    border-radius: 4px;
    background-color: rgb(243, 8, 8);
    cursor: pointer;
    transition: 0.5s;
  }
  .del-button:focus{
    outline: 0;
    padding: 0.4rem 2.3rem;
  }
  .del-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   

  }
  
  /* Small Buttons */
  .buttons{
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.7s;
  }
  .add-icon, .check-icon {
    
    color: rgb(139, 231, 142);
    font-size: 2em;
    
    
   }

   .cruz-icon, .trash-icon{
    color: rgb(255, 121, 121);
    font-size: 2em;
    
   }
  .left{
      display: flex;
      justify-content: flex-end;
    
     
      
  }
  .right{
    display: flex;
    justify-content: flex-end;
  }
  .buttons:focus{
    outline: 0;
  }
  .buttons:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 1.1em;
    background-color: rgb(121, 118, 118);
    
  }

  /* Product-to-buy text */
  .text{
      display: flex;
      justify-content: center;
      color: #ffff; 
  }
  .text-align{
    margin-top: 15px;
  }

  /* Output List */
  #prod-to-buy{
    padding-top: 15px;
    font-size: 100%;
  }


  /* Arrow */
  
  .arrow{
      color: red;
      font-size: 1.2em; 
      padding: 0;          
  }
  .arrow-align{
    display: flex;
    justify-content: flex-start;
  }
  p{
      font-size: 1.2em;
  }

  @media only screen and (min-width:768px){
    .show{
      display: none;
    }
   
    .logo{
      max-width: 20%;
      height: auto;
    }
    .input-bar{
      width: 40%;
    }
    .text{
      color:black;
    }
    
}