
.top-image {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     
    }
    
    div.image{
      content:url("../../images/logo-mobile.png");
      opacity: 0.85;
      padding: 10px;
    }
    .logo{
      max-width: 30%;
      height: auto;
      
    }
    @media only screen and (min-width:768px){

    .top-image{
      background-image: url('../../images/background_search_desktop.jpg');
    }
    div.image{
      content:url("../../images/market-logo.png");
      opacity: 1;
    }
    
    }
  